<button
  type="button"
  class="btn btn-secondary round-buttons"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="Add to Bookmarks"
>
  <span 
  id="watchlistButton<%= id %>"
  watchlist="<%= WLinfo %>"
  tmdb="<%= id %>"
  class="material-icons fav-icon addWatchlist">
  favorite_border
  </span>
</button>

<!-- Info to be included movieData -->
<!-- item.type, item.poster_path, item.title, item.extra, item.overview, item.id, item.categories, item.rating -->
