<div class="filter sticky-top">
    <input type="radio1" class="btn-check" name="options" profileRadio="All" id="flexRadioProfileAll" autocomplete="off" checked>
    <label class="btn btn-secondary profileRadio" for="flexRadioProfileAll">All Credits</label>

    <input type="radio1" class="btn-check" name="options" profileRadio="Actor" id="flexRadioActor" autocomplete="off">
    <label class="btn btn-secondary profileRadio" for="flexRadioActor">As Actor</label>

    <input type="radio1" class="btn-check" name="options" profileRadio="Director" id="flexRadioDirector" autocomplete="off">
    <label class="btn btn-secondary profileRadio" for="flexRadioDirector">As Director</label>

    <input type="radio1" class="btn-check" name="options" profileRadio="Writer" id="flexRadioWriter" autocomplete="off">
    <label class="btn btn-secondary profileRadio" for="flexRadioWriter">As Writer</label>

    <input type="radio1" class="btn-check" name="options" profileRadio="Producer" id="flexRadioProducer" autocomplete="off">
    <label class="btn btn-secondary profileRadio" for="flexRadioProducer">As Producer</label>
</div>

