<div class="filter sticky-top">
    <div class="form-check">
        <input
        class="form-check-input"
        filterRadio="All"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioAll"
        checked
        />
        <label class="form-check-label filterRadio" for="flexRadioAll">
        All Media
        </label>
    </div>
    <div class="form-check homeRadio">
        <input
        class="form-check-input"
        filterRadio="movie"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioMovie"
        />
        <label class="form-check-label filterRadio" for="flexRadioMovie">
        Movies Only
        </label>
    </div>
    <div class="form-check">
        <input
        class="form-check-input"
        filterRadio="series"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioSeries"
        />
        <label class="form-check-label filterRadio" for="flexRadioSeries">
        Series Only
        </label>
    </div>
    <div class="form-check">
        <input
        class="form-check-input"
        filterRadio="person"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioPerson"
        />
        <label class="form-check-label" for="flexRadioPerson">
        Persons Only
        </label>
    </div>
</div>