<div class="filter sticky-top">
    <input type="radio" class="btn-check" name="options" filterRadio="All" id="flexRadioAll" autocomplete="off" checked>
    <label class="btn btn-secondary" for="flexRadioAll">All</label>

    <input type="radio" class="btn-check" name="options" filterRadio="movie" id="flexRadioMovie" autocomplete="off">
    <label class="btn btn-secondary" for="flexRadioMovie">Movies</label>

    <input type="radio" class="btn-check" name="options" filterRadio="series" id="flexRadioSeries" autocomplete="off">
    <label class="btn btn-secondary" for="flexRadioSeries">Series</label>

    <input type="radio" class="btn-check" name="options" filterRadio="person" id="flexRadioPerson" autocomplete="off">
    <label id="radioPersonLabel" class="btn btn-secondary hidden" for="flexRadioPerson">People</label>
</div>