<!-- Icon / trending / categories / random / watchlist / coming-up / search -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/trending">Trending</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/genre/28/action">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="/genre/16/cartoons">Cartoons</a>
            </li>
            <li>
              <a class="dropdown-item" href="/genre/35/comedy">Comedy</a>
            </li>
            <li><a class="dropdown-item" href="/genre/80/crime">Crime</a></li>
            <li>
              <a class="dropdown-item" href="/genre/99/documentary"
                >Documentary</a
              >
            </li>
            <li><a class="dropdown-item" href="/genre/18/drama">Drama</a></li>
            <li>
              <a class="dropdown-item" href="/genre/14/fantasy">Fantasy</a>
            </li>
            <li>
              <a class="dropdown-item" href="/genre/27/horror">Horror</a>
            </li>
            <li>
              <a class="dropdown-item" href="/genre/9648/mystery">Mystery</a>
            </li>
            <li>
              <a class="dropdown-item" href="/genre/10764/reality">Reality</a>
            </li>
            <li>
              <a class="dropdown-item" href="/genre/878/science-fiction"
                >Science-Fiction</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/genre/53/thriller">Thriller</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown2"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Random
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/random-movies">Random Movies</a>
            </li>
            <li>
              <a class="dropdown-item" href="/random-series">Random Series</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bookmarks">Bookmarks</a>
        </li>
      </ul>
      <div class="d-flex">
        <input
          class="form-control mr-2"
          id="search"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </div>
  </div>
</nav>