

  <button
  type="button"
  tmdb='<%= data.id %>'
  class="btn btn-secondary round-buttons random"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="Random episode"
>
  <span 
          class="material-icons random"
          tmdb="<%= data.id %>">shuffle</span>
</button>