<div class="loader-container d-flex justify-content-center">
    <div class="lds-ellipsis vertical-center">
        <div>
        </div>
        <div>
        </div>
        <div> 
        </div>
        <div>
        </div>
    </div>
</div>
